body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-image: url('https://i.pinimg.com/originals/98/c3/f5/98c3f5068e0ebe5a765c81fb589717b0.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #DBDADB;
    text-align: center;
    width: 30%;
    height: auto;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-out {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-out:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.add-retailer {
    background-color: #DBDADB;
    text-align: center;
    width: 30%;
    height: 550px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

.results-body, .all-retailers {
    text-align: center;
}

.welcome {
    text-align: center;
}

.search-results, .retailer, .edit-retailer, .page-buttons, .link-suggestions {
    background-color: #DBDADB;
    text-align: center;
    width: 30%;
    height: auto;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

.retailer p {
    margin: 0.75px;
}

.search-results p {
    margin: 0.75px;
}

table {
    background-color: white;
    border-collapse: collapse;
    display: inline-flexbox;
    justify-content: center;
    align-items: center;
    margin: auto;
}

ul {
    list-style-type: none;
    display: inline;
    padding: 0px;
}

table, thead, td {
    border: 2px solid black;
}

thead {
    background-color: rgb(222, 67, 119);
    color: white;
}

th, td {
    text-align: center;
    padding: 10px;
}

h1, h2, h3 {
    text-align: center;
    text-shadow: 1px 1px 1px white;
}

b {
    cursor: pointer;
}
